<div class="containerS" >	


   
	<input type="checkbox" id="check"><label for="check"><i class="fas fa-bars" id="sidebar_btn"></i> </label>

    <div class="sidebar">
      <div class="person">
        <img src="word-image.gif" class="profile_image" alt="">
        
	  </div>
	  <h4>Netko</h4>

	  

	  <a href="navigation#0"><i class="fas fa-desktop"></i><span>Pocetna</span></a>
	  <a href="forme"><i class="fas fa-th"></i><span>Upisi</span></a>
	  <a href="navigation#6"><i class="fas fa-info-circle"></i><span>O nama</span></a>
	
	<!--
	  <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
      <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
      <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
	  <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
	-->
    </div>
 


    <div class="content">

		<div id="0" class="divText"  >
			<div class="row">
				<div class="col col1" >
					<div class="text">
							
								<h1 ></h1>
								<p></p>
						
					</div>

					
					<a href="navigation#1"  (click)="this.submitFormNadiGrad()" >ISTRAŽI</a>	
					
				</div>
				<div class="col" >


					<a href="navigation#2" > <div class="card card1" ><h2>Znamenitosti</h2>></div> </a>
					
					<a href="navigation#3" > <div class="card card2" ><h2>Muzeji</h2></div> </a>
					
					<a href="navigation#4" > <div class="card card3" ><h2>Opere</h2></div> </a>
					
					<a href="navigation#5" > <div class="card card4" ><h2>Dvorci</h2></div> </a>
					
				</div>

			</div>
			
			
	  </div>
	  
			
		<div id="1" class="divPage" style="background-color:chartreuse"> 

			<a href="navigation#2" > <div class="card card1" ><h2>Znamenitosti</h2>></div> </a>
					
			<a href="navigation#3" > <div class="card " ><h2>Muzeji</h2></div> </a>
			
			<a href="navigation#4" > <div class="card card3" ><h2>Opere</h2></div> </a>
			
			<a href="navigation#5" > <div class="card " ><h2>Dvorci</h2></div> </a>


			<a href="navigation#2" > <div class="card " ><h2>Znamenitosti</h2>></div> </a>
			
			<a href="navigation#3" > <div class="card card2" ><h2>Muzeji</h2></div> </a>
			
			<a href="navigation#4" > <div class="card " ><h2>Opere</h2></div> </a>
			
			<a href="navigation#5" > <div class="card card4" ><h2>Dvorci</h2></div> </a>
			

			<a href="navigation#2" > <div class="card card1" ><h2>Znamenitosti</h2>></div> </a>
					
			<a href="navigation#3" > <div class="card " ><h2>Muzeji</h2></div> </a>
			
			<a href="navigation#4" > <div class="card card3" ><h2>Opere</h2></div> </a>
			
			<a href="navigation#5" > <div class="card " ><h2>Dvorci</h2></div> </a>

		
			
		</div>
		<div id="2" class="divPage" style="background-color: brown;"> <h1>DRUGI</h1></div>
		<div id="3" class="divPage" style="background-color: rgb(238, 223, 15);"> <h1>TRECI</h1></div>
		<div id="4" class="divPage" style="background-color: rgb(22, 121, 9);"> <h1>CETVRTI</h1></div>
		<div id="5" class="divPage" style="background-color: rgb(42, 50, 165);"> <h1>PETI</h1></div>
		<div id="6" class="divPage" style="background-color: rgb(31, 32, 47);"> <h1>O nama</h1></div>
		
 
</div>


 