@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");


// Opcenito

i {
  font-size: 30px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

p {
  font-size: 30px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  color: black;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 30px;
  text-decoration: none;
  margin: 1px 0;
}

li {
  list-style: none;


}

button {
  border-radius: 20px;
  border: 1px solid rgb(246, 220, 49);
  background-color: rgb(246, 220, 49);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

// Kartice rotacije

.mainContRot {
  border: 5px 2c3e50 solid;
  width: 95%;
  height: 100vh;
  margin: 2%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
}

.middle {
	margin: 20px;
  width: 500px;
  height: 300px;

}
.cardRot {
  cursor: pointer;
}
.front,
.back {
	border-radius: 50px;
	border:5px black solid;
  margin: 20px;
  width:550px;
  height: 450px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}
.front img {
  height: 100%;
}
.front {
  transform: perspective(600px) rotateY(0deg);
}
.back {
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}
.back-content {
  color: #2c3e50;
  text-align: center;
  width: 100%;
}

.back a{
	font-size: 20px;
}

.frontPanel h1{
	color:whitesmoke;
	font-size: 10px;
}

.cardRot:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.cardRot:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

.frontPanel{

	width: 300px;
	height: 250px;
	background-color: rgba(1, 1, 1, 0.4);
	border-bottom-right-radius: 100px;

}


//-------------------------------------------------------------------- vrh stranice


// Kontenjer za uvod
.divText {
  width: 100%;
  height: 100vh;
  background-color: rgba(136, 69, 69, 0.8);
  animation: animate 20s infinite;
  background-size: cover;
}

.divText h2 {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

//---------------------------------------------

//Kontenjer za login
.divPage {
  width: 100%;
  height: 100vh;

  background-color: rgb(246, 220, 49);
}

.divPage h1 {
  font-size: 50px;
}

//-----------------------------------------------

@keyframes animate {
  //Slike za glavnu pozadinu

  0% {
    background-image: url(./slike/London/london.jpg);
  }
  25% {
    background-image: url(./slike/Pariz/mainPariz.jpg);
  }
  50% {
    background-image: url(./slike/Rim/rimMain.jpg);
  }
  75% {
    background-image: url(./slike/Berlin/berlinMein.jpg);
  }
  100% {
    background-image: url(./slike/London/london.jpg);
  }
}

.text h1:before {
  color: rgb(246, 220, 49);
  font-size: 100px;
  margin-left: 100px;
  content: "";
  animation: animateNaslov infinite 20s;
}

.text input:before {
  color: rgb(246, 220, 49);
  font-size: 100px;
  margin-left: 100px;
  content: "";
  animation: animateNaslov infinite 20s;
}

@keyframes animateNaslov {
  // Nazivi gradova lijevi kontenjer

  0% {
    content: "London";
  }
  25% {
    content: "Pariz";
  }
  50% {
    content: "Rim";
  }
  75% {
    content: "Berlin";
  }
  100% {
    content: "London";
  }
}

.text p:before {
  color: white;
  font-size: 16px;
  content: "";
  animation: animateText infinite 20s;
}

@keyframes animateText {
  //Tekstovi za gradove lijevi kontenjer

  0% {
    content: 'London glavni je grad Engleske i Ujedinjenog Kraljevstva.Kao važnog naselja tijekom dva tisućljeća povijest Londona započinje s Rimljanima, koji su ga osnovali i nazvali Londinium.Jezgra Londona, drevni londonski City ("square mile"), zadržala je svoje srednjevjekovne međe.Najkasnije od 19. stoljeća, naziv "London" odnosi se i na metropolis koji se razvio oko grada.Danas, veći dio te konurbacije tvori londonsku regiju i administrativno područje Velikog Londona (Greater London),s vlastitim izabranim gradonačelnikom i skupštinom.';
  }
  25% {
    content: 'Pariz  je glavni i najveći grad Francuske. Smješten je na obalama rijeke Seine u sjevernoj Francuskoj, u središtu pokrajine Île-de-France, također poznate kao "Pariška regija" (fra. Région parisienne). Stanovništvo grada Pariza, u svojim od 1860. uvelike nepromijenjenim granicama, procijenjuje se na 2 167 994 (siječanj 2006.)[3], ali metropolitansko područje (aire urbaine) naseljava više od 11 milijuna stanovnika,[4] kao najnaseljenije metropolitansko područje u Eurozoni.';
  }
  50% {
    content: 'Rim  je glavni grad Italije i regije Lacij, te najveća i najnapučenija općina u zemlji. Grad ima 2.612.068 stanovnika (popis stanovnika 2011. godine).Nadimci grada su: Caput mundi ("Prijestolnica svijeta"), la Città Eterna ("Vječni grad"), Limen Apostolorum ("Apostolski prag"), la città dei sette colli ("Grad na sedam brežuljaka") ili jednostavno l Urbe ("Grad").Unutar Rima nalazi se Vatikan, koji je suveren teritorij Svete Stolice.';
  }
  75% {
    content: "Berlin  je s više od 3,5 milijuna stanovnika najveći i glavni grad Njemačke i najveći grad Europske unije. Prije Drugog svjetskog rata imao je 4,5 milijuna stanovnika, a u vrijeme Hladnog rata od 1949. do 1990. bio je podijeljen na Istočni Berlin i Zapadni Berlin.Berlin je smješten na rijekama Šprevi i Havel na sjeveroistoku Njemačke. Jedna je od 16 njemačkih saveznih zemalja[2], sa svih strana okružen saveznom zemljom Brandenburg.";
  }
  100% {
    content: 'London glavni je grad Engleske i Ujedinjenog Kraljevstva.Kao važnog naselja tijekom dva tisućljeća povijest Londona započinje s Rimljanima, koji su ga osnovali i nazvali Londinium.Jezgra Londona, drevni londonski City ("square mile"), zadržala je svoje srednjevjekovne međe.Najkasnije od 19. stoljeća, naziv "London" odnosi se i na metropolis koji se razvio oko grada.Danas, veći dio te konurbacije tvori londonsku regiju i administrativno područje Velikog Londona (Greater London),s vlastitim izabranim gradonačelnikom i skupštinom.';
  }
}

//--------------------------------------------------------------------

//Uvod

.row {
  // redovi za pozicije kontenjera

  display: flex;
  height: 88%;
  align-items: center;
}

.col {
  // kolone za poziciju

  flex-basis: 60%;
  margin: 20px;
}

col div {
  flex-direction: row;
}

//Uredenje lijevog kontenjera

.col1 {
  width: 500px;
  height: 500px;

  flex-basis: 60%;
  margin: 40px;
  background-color: rgba(1, 1, 1, 0.6);
  margin: 20px;
  padding: 25px 25px;
  padding-bottom: 50px;
  border-radius: 10px;
  margin-left: 20px;
}

.col1 a {
  color: rgb(255, 255, 255);
  width: 180px;
  margin-left: 100px;
  border-radius: 20px;
  border: 1px solid rgb(246, 220, 49);
  background-color: rgb(246, 220, 49);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.col1 a:hover {
  background: white;
  color: black;
}

//-------------------------------------------------------

// Kartice u desnom kontenjeru
.card {
  width: 300px;
  height: 300px;
  display: inline-flex;
  border-radius: 10px;
  margin: 20px;
  padding: 15px 25px;
  box-sizing: border-box;
  padding-top: 60px;
  cursor: pointer;
  margin-right: 80px;
  background-position: center;
  background-size: cover;
  transform: translateY 0.5;
}

.card1 {
  animation: animateCardZnamenitosti 20s infinite;
  background-size: cover;
}

@keyframes animateCardZnamenitosti {
  //Slike znamenitosti: prva kartica,prvi red

  0% {
    background-image: url(./slike/London/znamenitostiLondon.jpg);
  }
  25% {
    background-image: url(./slike/Pariz/znamenitostiPariz.jpg);
  }
  50% {
    background-image: url(./slike/Rim/rimZnamenitosti.jpg);
  }
  75% {
    background-image: url(./slike/Berlin/znamenitostiBerlin.jpg);
  }
  100% {
    background-image: url(./slike/London/znamenitostiLondon.jpg);
  }
}

.card2 {
  animation: animateCardMuzeji 20s infinite;
  background-size: cover;
}

@keyframes animateCardMuzeji {
  //Slike muzeji: druga kartica,prvi red

  0% {
    background-image: url(./slike/London/muzejLondon.jpg);
  }
  25% {
    background-image: url(./slike/Pariz/muzeji.jpg);
  }
  50% {
    background-image: url(./slike/Rim/muzejiRim.jpg);
  }
  75% {
    background-image: url(./slike/Berlin/berlinMuzeji.jpg);
  }
  100% {
    background-image: url(./slike/London/muzejLondon.jpg);
  }
}

.card3 {
  animation: animateCardOpere 20s infinite;
  background-size: cover;
}

@keyframes animateCardOpere {
  //Slike Opere: prva kartica,drugi red

  0% {
    background-image: url(./slike/London/operaLondon.jpg);
  }
  25% {
    background-image: url(./slike/Pariz/opera.jpg);
  }
  50% {
    background-image: url(./slike/Rim/operaRim.jpg);
  }
  75% {
    background-image: url(./slike/Berlin/operaberlin.jpg);
  }
  100% {
    background-image: url(./slike/London/operaLondon.jpg);
  }
}

.card4 {
  animation: animateCardDvorci 20s infinite;
  background-size: cover;
}

@keyframes animateCardDvorci {
  //Slike Dvorci: druga kartica,drugi red

  0% {
    background-image: url(./slike/London/dvoraLondon.jpg);
  }
  25% {
    background-image: url(./slike/Pariz/dvoracPariz.jpg);
  }
  50% {
    background-image: url(./slike/Rim/dvoracRim.jpg);
  }
  75% {
    background-image: url(./slike/Berlin/dvorciBerlin.jpg);
  }
  100% {
    background-image: url(./slike/London/dvoraLondon.jpg);
  }
}

.card:hover {
  transform: translateY(-8px);
}



//-------------------------


#slider {
	position: relative;
	width: 50%;
	height: 30vw;
	margin: 80px auto;
	font-family: "Helvetica Neue", sans-serif;
	perspective: 1400px;
	transform-style: preserve-3d;
  }
  
  input[type="radio"] {
	position: relative;
	top: 108%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin: 0 15px 0 0;
	opacity: 0.4;
	transform: translateX(-83px);
	cursor: pointer;
  }
  
  input[type="radio"]:nth-child(5) {
	margin-right: 0px;
  }
  
  input[type="radio"]:checked {
	opacity: 1;
  }
  
  #slider label {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	color: white;
	font-size: 70px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 400ms ease;
  }
  
  #slide1 {
	background: tomato;
  }
  
  #slide2 {
	background: yellowgreen;
  }
  
  #slide3 {
	background: dodgerblue;
  }
  
  #slide4 {
	background: slateblue;
  }
  
  #slide5 {
	background: violet;
  }
  
  /* Slider Functionality */
  
  /* Active Slide */
  #s1:checked ~ #slide1,
  #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
  #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
	box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
	transform: translate3d(0%, 0, 0px);
  }
  
  /* Next Slide */
  #s1:checked ~ #slide2,
  #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
  #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
	transform: translate3d(15%, 0, -100px);
  }
  
  /* Next to Next Slide */
  #s1:checked ~ #slide3,
  #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
  #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	transform: translate3d(30%, 0, -250px);
  }
  
  /* Previous to Previous Slide */
  #s1:checked ~ #slide4,
  #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
  #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	transform: translate3d(-30%, 0, -250px);
  }
  
  /* Previous Slide */
  #s1:checked ~ #slide5,
  #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
  #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
	transform: translate3d(-15%, 0, -100px);
  }

#slider {
  position: relative;
  width: 50%;
  height: 30vw;
  margin: 80px auto;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type="radio"] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#slide1 {
  background: tomato;
}

#slide2 {
  background: yellowgreen;
}

#slide3 {
  background: dodgerblue;
}

#slide4 {
  background: slateblue;
}

#slide5 {
  background: violet;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(30%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-30%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}
  