@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");


// Opcenito

  
  .containerS {
	width: 100%;
	height: 100vh;
	flex-direction: column;
	scroll-behavior: smooth;
	overflow-y: scroll;

	}
.content{
  background-color:#202C59 ;
}
  


  .divPageTrazilica{

    width: 100%;
    height: 100vh;
    background-image: url(https://www.telegraph.co.uk/content/dam/Travel/2020/May/las-vegas-strip-istock.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;

  }

  .divPageTrazilica div{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .formaCont{

    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;



  }

i {
  font-size: 30px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

p {
  font-size: 30px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  color: black;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 30px;
  text-decoration: none;
  margin: 1px 0;
}

li {
  list-style: none;
}

.logo {
  height: 150px;
  width: 150px;
  background: rgba(255, 255, 255, 0.2);
  margin-left: 50px;
  margin: 16px;

  border-radius: 100px;
  border:6px white solid;
  
  background-image: url('./logo.png');
  background-size: 95%;

}

ng-template  button{

 background-color: white;

}


span{
  font-size: 20px;
}

input{
  display: inline-block;
  font-size: 30px;
  box-sizing: border-box;
  transition: .5s;
}

input[type="text"]{
  
  background-color: white;
  height: 50px;
  width: 900px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;

}

.divPageTrazilica a{

  left: -5px;
  height: 50px;
  width: 150px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 0 25px 25px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(246, 220, 49);
  color: #ffffff;
}

.formaCont a{

  height: 50px;
  width: 150px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(246, 220, 49);
  color: #ffffff;
}


form{
  height: 100%;
  width: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

button {
	border-radius: 20px;
	border: 1px solid rgb(246, 220, 49);
	background-color: rgb(246, 220, 49);
	box-shadow:inset 0 0 0 0 #264653;
	transition: ease-out 1.2s;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	outline: none;
}

input[type="submit"]:hover{

  background-color:#202C59 ;

}


button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}





// Kartice rotacije

.mainContRot {
  border: 5px 2c3e50 solid;
  width: 95%;
  height: 100vh;
  margin: 1px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.middle {
	margin: 5px;
  width: 450px;
  height: 300px;

}
.cardRot {
  cursor: pointer;
}
.front,
.back {
	border-radius: 50px;
	border:5px black solid;
  margin-top: -20;
  width: 550px;
  height: 350px;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s linear;
}

.back{
  margin-top: -360px;
}

.front img {
  height: 100%;
}
.front {
  transform: perspective(600px) rotateY(0deg);
}
.back {
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}
.back-content {
  color: #2c3e50;
  text-align: center;
  width: 100%;
}

.back a{
	font-size: 20px;
}

.frontPanel h1{
	color:whitesmoke;
	font-size: 10px;
}

.cardRot:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.cardRot:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

.frontPanel{

	width: 300px;
	height: 250px;
	background-color: rgba(1, 1, 1, 0.4);
	border-bottom-right-radius: 100px;

}


//-------------------------------------------------------------------- vrh stranice


// Kontenjer za uvod
.divText {
  width: 100%;
  height: 100vh;
  background-color: rgba(136, 69, 69, 0.8);
  animation: animate 20s infinite;
  background-size: cover;
}

.divText h2 {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

//---------------------------------------------

//Kontenjer za login
.divPage {
  width: 100%;
  height: 100vh;

  background-color: #202C59;

}

.divH1{
  width: 100%;
  height: 150px;
  margin: 10px;
  background-color: rgba(0, 150, 199, 0.6);
  border-bottom-left-radius: 500px;
  border-bottom-right-radius:500px;

  border:7px solid black ;
  border-top:15px solid black;
  

}

.divH1 h1{

  color: #f1f1f1;

}

.divPage h1 {
  font-size: 50px;
}

//-----------------------------------------------

@keyframes animate {
  //Slike za glavnu pozadinu

  0% {
    background-image: url(./slike/London/london.jpg);
  }
  25% {
    background-image: url(./slike/Pariz/mainPariz.jpg);
  }
  50% {
    background-image: url(./slike/Rim/rimMain.jpg);
  }
  75% {
    background-image: url(./slike/Berlin/berlinMein.jpg);
  }
  100% {
    background-image: url(./slike/London/london.jpg);
  }
}

.text h1:before {
  color: rgb(246, 220, 49);
  font-size: 100px;
  margin-left: 100px;
  content: "";
  animation: animateNaslov infinite 20s;
}

.text input:before {
  color: rgb(246, 220, 49);
  font-size: 100px;
  margin-left: 100px;
  content: "";
  animation: animateNaslov infinite 20s;
}

@keyframes animateNaslov {
  // Nazivi gradova lijevi kontenjer

  0% {
    content: "London";
  }
  25% {
    content: "Pariz";
  }
  50% {
    content: "Rim";
  }
  75% {
    content: "Berlin";
  }
  100% {
    content: "London";
  }
}

.text p:before {
  color: white;
  font-size: 16px;
  content: "";
  animation: animateText infinite 20s;
}

@keyframes animateText {
  //Tekstovi za gradove lijevi kontenjer

  0% {
    content: 'London glavni je grad Engleske i Ujedinjenog Kraljevstva.Kao važnog naselja tijekom dva tisućljeća povijest Londona započinje s Rimljanima, koji su ga osnovali i nazvali Londinium.Jezgra Londona, drevni londonski City ("square mile"), zadržala je svoje srednjevjekovne međe.Najkasnije od 19. stoljeća, naziv "London" odnosi se i na metropolis koji se razvio oko grada.Danas, veći dio te konurbacije tvori londonsku regiju i administrativno područje Velikog Londona (Greater London),s vlastitim izabranim gradonačelnikom i skupštinom.';
  }
  25% {
    content: 'Pariz  je glavni i najveći grad Francuske. Smješten je na obalama rijeke Seine u sjevernoj Francuskoj, u središtu pokrajine Île-de-France, također poznate kao "Pariška regija" (fra. Région parisienne). Stanovništvo grada Pariza, u svojim od 1860. uvelike nepromijenjenim granicama, procijenjuje se na 2 167 994 (siječanj 2006.)[3], ali metropolitansko područje (aire urbaine) naseljava više od 11 milijuna stanovnika,[4] kao najnaseljenije metropolitansko područje u Eurozoni.';
  }
  50% {
    content: 'Rim  je glavni grad Italije i regije Lacij, te najveća i najnapučenija općina u zemlji. Grad ima 2.612.068 stanovnika (popis stanovnika 2011. godine).Nadimci grada su: Caput mundi ("Prijestolnica svijeta"), la Città Eterna ("Vječni grad"), Limen Apostolorum ("Apostolski prag"), la città dei sette colli ("Grad na sedam brežuljaka") ili jednostavno l Urbe ("Grad").Unutar Rima nalazi se Vatikan, koji je suveren teritorij Svete Stolice.';
  }
  75% {
    content: "Berlin  je s više od 3,5 milijuna stanovnika najveći i glavni grad Njemačke i najveći grad Europske unije. Prije Drugog svjetskog rata imao je 4,5 milijuna stanovnika, a u vrijeme Hladnog rata od 1949. do 1990. bio je podijeljen na Istočni Berlin i Zapadni Berlin.Berlin je smješten na rijekama Šprevi i Havel na sjeveroistoku Njemačke. Jedna je od 16 njemačkih saveznih zemalja[2], sa svih strana okružen saveznom zemljom Brandenburg.";
  }
  100% {
    content: 'London glavni je grad Engleske i Ujedinjenog Kraljevstva.Kao važnog naselja tijekom dva tisućljeća povijest Londona započinje s Rimljanima, koji su ga osnovali i nazvali Londinium.Jezgra Londona, drevni londonski City ("square mile"), zadržala je svoje srednjevjekovne međe.Najkasnije od 19. stoljeća, naziv "London" odnosi se i na metropolis koji se razvio oko grada.Danas, veći dio te konurbacije tvori londonsku regiju i administrativno područje Velikog Londona (Greater London),s vlastitim izabranim gradonačelnikom i skupštinom.';
  }
}

//--------------------------------------------------------------------

//Uvod

.row {
  // redovi za pozicije kontenjera

  display: flex;
  height: 88%;
  align-items: center;
}

.col {
  // kolone za poziciju

  flex-basis: 60%;
  margin: 20px;
}

col div {
  flex-direction: row;
}

//Uredenje lijevog kontenjera

.col1 {
  width: 500px;
  height: 500px;

  flex-basis: 60%;
  margin: 40px;
  background-color: rgba(1, 1, 1, 0.6);
  margin: 20px;
  padding: 25px 25px;
  padding-bottom: 50px;
  border-radius: 10px;
  margin-left: 20px;
}

.col1 a {
  color: rgb(255, 255, 255);
  width: 180px;
  margin-left: 100px;
  border-radius: 20px;
  border: 1px solid rgb(246, 220, 49);
  background-color: rgb(246, 220, 49);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.col1 a:hover {
  background: white;
  color: black;
}

//-------------------------------------------------------

// Kartice u desnom kontenjeru
.card {
  width: 300px;
  height: 300px;
  display: inline-flex;
  border-radius: 10px;
  margin: 20px;
  padding: 15px 25px;
  box-sizing: border-box;
  padding-top: 60px;
  cursor: pointer;
  margin-right: 80px;
  background-position: center;
  background-size: cover;
  transform: translateY 0.5;
}

.card1 {
  animation: animateCardZnamenitosti 20s infinite;
  background-size: cover;
}

@keyframes animateCardZnamenitosti {
  //Slike znamenitosti: prva kartica,prvi red

  0% {
    background-image: url(./slike/London/znamenitostiLondon.jpg);
  }
  25% {
    background-image: url(./slike/Pariz/znamenitostiPariz.jpg);
  }
  50% {
    background-image: url(./slike/Rim/rimZnamenitosti.jpg);
  }
  75% {
    background-image: url(./slike/Berlin/znamenitostiBerlin.jpg);
  }
  100% {
    background-image: url(./slike/London/znamenitostiLondon.jpg);
  }
}

.card2 {
  animation: animateCardMuzeji 20s infinite;
  background-size: cover;
}

@keyframes animateCardMuzeji {
  //Slike muzeji: druga kartica,prvi red

  0% {
    background-image: url(./slike/London/muzejLondon.jpg);
  }
  25% {
    background-image: url(./slike/Pariz/muzeji.jpg);
  }
  50% {
    background-image: url(./slike/Rim/muzejiRim.jpg);
  }
  75% {
    background-image: url(./slike/Berlin/berlinMuzeji.jpg);
  }
  100% {
    background-image: url(./slike/London/muzejLondon.jpg);
  }
}

.card3 {
  animation: animateCardOpere 20s infinite;
  background-size: cover;
}

@keyframes animateCardOpere {
  //Slike Opere: prva kartica,drugi red

  0% {
    background-image: url(./slike/London/operaLondon.jpg);
  }
  25% {
    background-image: url(./slike/Pariz/opera.jpg);
  }
  50% {
    background-image: url(./slike/Rim/operaRim.jpg);
  }
  75% {
    background-image: url(./slike/Berlin/operaberlin.jpg);
  }
  100% {
    background-image: url(./slike/London/operaLondon.jpg);
  }
}

.card4 {
  animation: animateCardDvorci 20s infinite;
  background-size: cover;
}

@keyframes animateCardDvorci {
  //Slike Dvorci: druga kartica,drugi red

  0% {
    background-image: url(./slike/London/dvoraLondon.jpg);
  }
  25% {
    background-image: url(./slike/Pariz/dvoracPariz.jpg);
  }
  50% {
    background-image: url(./slike/Rim/dvoracRim.jpg);
  }
  75% {
    background-image: url(./slike/Berlin/dvorciBerlin.jpg);
  }
  100% {
    background-image: url(./slike/London/dvoraLondon.jpg);
  }
}

.card:hover {
  transform: translateY(-8px);
}


