<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzIcon="user">
        <i nz-icon nzType="user"> <a href="navigation#0"></a></i>
        <span>Pocetna</span>
      </li>

      <li nz-menu-item>
        <i nz-icon nzType="file"> <a href="forme"></a></i>

        <span>Forme</span>
      </li>

      <li nz-menu-item>
        <i nz-icon nzType="info"> <a href="navigation#6"></a> </i>

        <span> O nama</span>
      </li>
    </ul>
  </nz-sider>

  <div class="containerS">
    <div class="content">
      <div id="0" class="divText">
        <div class="row">
          <div class="col col1">
            <div class="text">
              <h1></h1>
              <p></p>
            </div>
            <a href="navigation#1">ISTRAŽI</a>
          </div>
          <div class="col">
            <a href="navigation#1">
              <div class="card card1"><h2>Znamenitosti</h2></div>
            </a>
            <a href="navigation#1">
              <div class="card card2"><h2>Muzeji</h2></div>
            </a>
            <a href="navigation#1">
              <div class="card card3"><h2>Kazalista</h2></div>
            </a>
            <a href="navigation#1">
              <div class="card card4"><h2>Dvorci</h2></div>
            </a>
          </div>
        </div>
      </div>

      <!--TRAZILICA-->
      <div id="1" class="divPageTrazilica">
        <div [formGroup]="this.validateForm">
          <input
            type="text"
            formControlName="ime_grada"
            id="ime_grada"
            nz-input
            placeholder=" Upisite grad"
          />

          <a href="navigation#2" (click)="this.pronadiGrad()">ISTRAŽI</a>
        </div>
      </div>

      <!--ZNAMENITOSTI-->
      <div id="2" class="divPage" *ngIf="this.UspjesnoNadengrad === true">
        <!--ZNAMENITOSTI-->
        <div class="divH1">
          <h1>Znamenitosti</h1>
        </div>

        <div class="mainContRot">
          <div
            *ngFor="let znamenitosti of this.ZnamenitostiZaPrikaz()"
            class="cardRot middle"
          >
            <div
              class="front"
              [style]="
                'background-image: url(' +
                znamenitosti.slika +
                '); background-size: cover;'
              "
            >
              <div class="frontPanel">
                <h1>{{ znamenitosti.ime_gradevine }}</h1>
              </div>
            </div>

            <div class="back">
              <div class="back-content middle">
                <ul nz-list nzBordered nzSize="large">
                  <li>
                    <i nz-icon nzType="user" nzTheme="outline"></i>
                    <a>{{ znamenitosti.ime_gradevine }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="calendar" nzTheme="outline"></i>
                    <a>{{ znamenitosti.godina_izgradnje }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="file-text" nzTheme="outline"></i>
                    <a>{{ znamenitosti.opis_kraci }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="comment" nzTheme="outline"></i>
                    <a>{{ znamenitosti.adresa }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="paper-clip" nzTheme="outline"></i>
                    <a>{{ znamenitosti.sluzbena_stranica }}</a>
                  </li>

                  <button style="margin-left: 125px;">
                    <a
                      href="navigation#2/1"
                      (click)="this.NadiZnamenitost(znamenitosti.id)"
                      >ISTRAŽI</a
                    >
                    </button>
                </ul>

                

              
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="formaCont" id="2/1" *ngIf="this.formaZnamenitost === true">
        <div
          *ngFor="let znamenitosti of this.lista"
          style="height: 100%; width: 100%"
          [style]="
            'background-image: url(' +
            znamenitosti.slika +
            '); background-size: cover;'
          "
        >
          <div class="row">
            <div class="col" style="background-color: rgba(1, 1, 1, 0.5)">
              <div>
                <ul>
                  <li>
                    <p>Ime: {{ znamenitosti.ime_gradevine }}</p>
                  </li>

                  <li>
                    <p>Arhitekt: {{ znamenitosti.arhitekt }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Datum izgradnje: {{ znamenitosti.godina_izgradnje }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Adresa: {{ znamenitosti.adresa }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Stranica: {{ znamenitosti.sluzbena_stranica }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p style="font-size: 16px;" >Opis: {{ znamenitosti.opis_duzi }}</p>
                    <p></p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col" style="background-color: rgba(1, 1, 1, 0.5)">
              <nz-spin
                nzTip="Loading..."
                [nzSize]="'large'"
                [nzSpinning]="this.PoznateZnamenitostiCijenaUcitavanje"
              >
                <P>CIJENIK</P>
                <nz-table
                  #basicTable
                  [nzData]="this.PoznateZnamenitostiCijenaGradLista"
                  style="width: 80%; margin-top: 5%; margin-left: 5%"
                >
                  <thead>
                    <tr>
                      <th>poznate_znamenitosti</th>
                      <th>karta</th>
                      <th>opis</th>
                      <th>trajanje_karte</th>
                      <th>cijena</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let znamenitostiCijena of this
                          .PoznateZnamenitostiCijenaGradLista
                      "
                    >
                      <td>
                        {{
                          this.getNaziv(
                            znamenitostiCijena.id_poznate_znamenitosti,
                            3
                          )
                        }}
                      </td>
                      <td>{{ znamenitostiCijena.karta }}</td>
                      <td>{{ znamenitostiCijena.opis }}</td>
                      <td>{{ znamenitostiCijena.trajanje_karte }}</td>
                      <td>{{ znamenitostiCijena.cijena }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-spin>
            </div>
          </div>

          <button>
            <a href="navigation#2" >NAZAD</a></button>
        </div>
      </div>

      <!--MUZEJ-->
      <div id="3" class="divPage" *ngIf="this.UspjesnoNadengrad === true">
        <div class="divH1">
          <h1>Muzeji</h1>
        </div>

        <div class="mainContRot">
          <div
            *ngFor="let Muzej of this.MuzejiZaPrikaz()"
            class="cardRot middle"
          >
            <div
              class="front"
              [style]="
                'background-image: url(' +
                Muzej.slika +
                '); background-size: cover;'
              "
            >
              <div class="frontPanel">
                <h1>{{ Muzej.ime_gradevine }}</h1>
              </div>
            </div>

            <div class="back">
              <div class="back-content middle">
                <ul nz-list nzBordered nzSize="large">
                  <li>
                    <i nz-icon nzType="user" nzTheme="outline"></i>
                    <a>{{ Muzej.ime_gradevine }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="calendar" nzTheme="outline"></i>
                    <a>{{ Muzej.godina_izgradnje }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="file-text" nzTheme="outline"></i>
                    <a>{{ Muzej.opis_kraci }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="comment" nzTheme="outline"></i>
                    <a>{{ Muzej.adresa }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="tag" nzTheme="outline"></i>
                    <a>{{ Muzej.sluzbena_stranica }}</a>
                  </li>
                </ul>

                

              <button style="margin-left: 120px; margin-top: -100px">
                <a href="navigation#3/1" (click)="this.NadiMuzej(Muzej.id)"
                  >ISTRAŽI</a
                >
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="formaCont" id="3/1" *ngIf="this.formaMuzej === true">
        <div
          *ngFor="let muzej of this.lista"
          style="height: 100%; width: 100%"
          [style]="
            'background-image: url(' +
            muzej.slika +
            '); background-size: cover;'
          "
        >
          <div class="row">
            <div class="col" style="background-color: rgba(1, 1, 1, 0.5)">
              <div>
                <ul>
                  <li>
                    <p>Ime: {{ muzej.ime_gradevine }}</p>
                  </li>

                  <li>
                    <p>Arhitekt: {{ muzej.arhitekt }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Datum izgradnje: {{ muzej.godina_izgradnje }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Adresa: {{ muzej.adresa }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Stranica: {{ muzej.sluzbena_stranica }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Opis:</p>
                    <p style="font-size: 16px;" > {{ muzej.opis_duzi }}</p>
                    <p></p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col" style="background-color: rgba(1, 1, 1, 0.5)">
              <nz-spin
                nzTip="Loading..."
                [nzSize]="'large'"
                [nzSpinning]="this.MuzejiCijenaUcitavanje"
              >
                <P>CIJENIK</P>
                <nz-table
                  #basicTable
                  [nzData]="this.MuzejiCijenaGradLista"
                  style="width: 80%; margin-top: 5%; margin-left: 5%"
                >
                  <thead>
                    <tr>
                      <th>poznate_znamenitosti</th>
                      <th>karta</th>
                      <th>opis</th>
                      <th>trajanje_karte</th>
                      <th>cijena</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let muzejCijena of this.MuzejiCijenaGradLista">
                      <td>
                        {{ this.getNaziv(muzejCijena.id_muzeji, 3) }}
                      </td>
                      <td>{{ muzejCijena.karta }}</td>
                      <td>{{ muzejCijena.opis }}</td>
                      <td>{{ muzejCijena.trajanje_karte }}</td>
                      <td>{{ muzejCijena.cijena }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-spin>
            </div>
          </div>

          <a href="navigation#3">NAZAD</a>
        </div>
      </div>

      <!--KAZALISTA-->
      <div id="4" class="divPage" *ngIf="this.UspjesnoNadengrad === true">
        <!--KAZALISTA-->
        <div class="divH1">
          <h1>Kazalista</h1>
        </div>

        <div class="mainContRot">
          <div
            *ngFor="let Kazaliste of this.KazalistaZaPrikaz()"
            class="cardRot middle"
          >
            <div
              class="front"
              [style]="
                'background-image: url(' +
                Kazaliste.slika +
                '); background-size: cover;'
              "
            >
              <div class="frontPanel">
                <h1>{{ Kazaliste.ime_gradevine }}</h1>
              </div>
            </div>

            <div class="back">
              <div class="back-content middle">
                <ul nz-list nzBordered nzSize="large">
                  <li>
                    <i nz-icon nzType="user" nzTheme="outline"></i>
                    <a>{{ Kazaliste.ime_gradevine }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="calendar" nzTheme="outline"></i>
                    <a>{{ Kazaliste.godina_izgradnje }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="file-text" nzTheme="outline"></i>
                    <a>{{ Kazaliste.opis_kraci }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="comment" nzTheme="outline"></i>
                    <a>{{ Kazaliste.adresa }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="tag" nzTheme="outline"></i>
                    <a>{{ Kazaliste.sluzbena_stranica }}</a>
                  </li>
                </ul>
              </div>

              

              <button style="margin-left: 120px; margin-top: -100px">
              <a
                href="navigation#4/1"
                (click)="this.NadiKazaliste(Kazaliste.id)"
                >ISTRAŽI</a
              >
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="formaCont" id="4/1" *ngIf="this.formaKazalista === true">
        <div
          *ngFor="let kazalista of this.lista"
          style="height: 100%; width: 100%"
          [style]="
            'background-image: url(' +
            kazalista.slika +
            '); background-size: cover;'
          "
        >
          <div class="row">
            <div class="col" style="background-color: rgba(1, 1, 1, 0.5)">
              <div>
                <ul>
                  <li>
                    <p>Ime: {{ kazalista.ime_gradevine }}</p>
                  </li>

                  <li>
                    <p>Arhitekt: {{ kazalista.arhitekt }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Datum izgradnje: {{ kazalista.godina_izgradnje }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Adresa: {{ kazalista.adresa }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Stranica: {{ kazalista.sluzbena_stranica }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p style="font-size: 16px;" >Opis: {{ kazalista.opis_duzi }}</p>
                    <p></p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col" style="background-color: rgba(1, 1, 1, 0.5)">
              <nz-spin
                nzTip="Loading..."
                [nzSize]="'large'"
                [nzSpinning]="this.KazalistaCijenaUcitavanje"
              >
                <P>CIJENIK</P>
                <nz-table
                  #basicTable
                  [nzData]="this.KazalistaUcitavanje"
                  style="width: 80%; margin-top: 5%; margin-left: 5%"
                >
                  <thead>
                    <tr>
                      <th>poznate_znamenitosti</th>
                      <th>karta</th>
                      <th>opis</th>
                      <th>trajanje_karte</th>
                      <th>cijena</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let kazalista of this.KazalistaGradCijenaLista">
                      <td>
                        {{ this.getNaziv(kazalista.id_kazalista, 3) }}
                      </td>
                      <td>{{ kazalista.karta }}</td>
                      <td>{{ kazalista.opis }}</td>
                      <td>{{ kazalista.trajanje_karte }}</td>
                      <td>{{ kazalista.cijena }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-spin>
            </div>
          </div>

          <a href="navigation#4">NAZAD</a>
        </div>
      </div>

      <!--DVORCI-->
      <div id="5" class="divPage" *ngIf="this.UspjesnoNadengrad === true">
        <!--DVORCI-->
        <div class="divH1">
          <h1>Dvorci</h1>
        </div>

        <div class="mainContRot">
          <div
            *ngFor="let Dvorci of this.DvorciZaPrikaz()"
            class="cardRot middle"
          >
            <div
              class="front"
              [style]="
                'background-image: url(' +
                Dvorci.slika +
                '); background-size: cover;'
              "
            >
              <div class="frontPanel">
                <h1>{{ Dvorci.ime_gradevine }}</h1>
              </div>
            </div>

            <div class="back">
              <div class="back-content middle">
                <ul nz-list nzBordered nzSize="large">
                  <li>
                    <i nz-icon nzType="user" nzTheme="outline"></i>
                    <a>{{ Dvorci.ime_gradevine }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="calendar" nzTheme="outline"></i>
                    <a>{{ Dvorci.godina_izgradnje }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="file-text" nzTheme="outline"></i>
                    <a>{{ Dvorci.opis_kraci }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="comment" nzTheme="outline"></i>
                    <a>{{ Dvorci.adresa }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="tag" nzTheme="outline"></i>
                    <a>{{ Dvorci.sluzbena_stranica }}</a>
                  </li>
                </ul>
              </div>

              <button style="margin-left: 120px; margin-top: -100px">
                <a href="navigation#5/1" (click)="this.NadiDvorac(Dvorci.id)"
                  >ISTRAŽI</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="formaCont" id="5/1" *ngIf="this.formaDvorci === true">
        <div
          *ngFor="let dvorci of this.lista"
          style="height: 100%; width: 100%"
          [style]="
            'background-image: url(' +
            dvorci.slika +
            '); background-size: cover;'
          "
        >
          <div class="row">
            <div class="col" style="background-color: rgba(1, 1, 1, 0.5)">
              <div>
                <ul>
                  <li>
                    <p>Ime: {{ dvorci.ime_gradevine }}</p>
                  </li>

                  <li>
                    <p>Arhitekt: {{ dvorci.arhitekt }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Datum izgradnje: {{ dvorci.godina_izgradnje }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Adresa: {{ dvorci.adresa }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Stranica: {{ dvorci.sluzbena_stranica }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p style="font-size: 16px;" >Opis: {{ dvorci.opis_duzi }}</p>
                    <p></p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col" style="background-color: rgba(1, 1, 1, 0.5)">
              <nz-spin
                nzTip="Loading..."
                [nzSize]="'large'"
                [nzSpinning]="this.DvorciCijenaUcitavanje"
              >
                <P>CIJENIK</P>
                <nz-table
                  #basicTable
                  [nzData]="this.DvorciCijenaGradLista"
                  style="width: 80%; margin-top: 5%; margin-left: 5%"
                >
                  <thead>
                    <tr>
                      <th>dvorci</th>
                      <th>karta</th>
                      <th>opis</th>
                      <th>trajanje_karte</th>
                      <th>cijena</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dvorci of this.DvorciCijenaGradLista">
                      <td>
                        {{ this.getNaziv(dvorci.id_dvorci, 3) }}
                      </td>
                      <td>{{ dvorci.karta }}</td>
                      <td>{{ dvorci.opis }}</td>
                      <td>{{ dvorci.trajanje_karte }}</td>
                      <td>{{ dvorci.cijena }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-spin>
            </div>
          </div>

          <a href="navigation#5">NAZAD</a>
        </div>
      </div>

      <!--Klubovi-->
      <div id="7" class="divPage" *ngIf="this.UspjesnoNadengrad === true">
        <!--Klubovi-->
        <div class="divH1">
          <h1>Klubovi</h1>
        </div>

        <div class="mainContRot">
          <div
            *ngFor="let klub of this.KlubZaPrikaz()"
            class="cardRot middle"
          >
            <div
              class="front"
              [style]="
                'background-image: url(' +
                klub.slika +
                '); background-size: cover;'
              "
            >
              <div class="frontPanel">
                <h1>{{ klub.ime_gradevine }}</h1>
              </div>
            </div>

            <div class="back">
              <div class="back-content middle">
                <ul nz-list nzBordered nzSize="large">
                  <li>
                    <i nz-icon nzType="user" nzTheme="outline"></i>
                    <a>{{ klub.ime_gradevine }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="calendar" nzTheme="outline"></i>
                    <a>{{ klub.godina_izgradnje }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="file-text" nzTheme="outline"></i>
                    <a>{{ klub.opis_kraci }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="comment" nzTheme="outline"></i>
                    <a>{{ klub.adresa }}</a>
                  </li>

                  <li>
                    <i nz-icon nzType="tag" nzTheme="outline"></i>
                    <a>{{ klub.sluzbena_stranica }}</a>
                  </li>
                </ul>
              </div>

              <button style="margin-left: 120px; margin-top: -100px">
                <a href="navigation#7/1" (click)="this.NadiKlub(klub.id)"
                  >ISTRAŽI</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="formaCont" id="7/1" *ngIf="this.formaDvorci === true">
        <div
          *ngFor="let klub of this.lista"
          style="height: 100%; width: 100%"
          [style]="
            'background-image: url(' +
            klub.slika +
            '); background-size: cover;'
          "
        >
          <div class="row">
            <div class="col" style="background-color: rgba(1, 1, 1, 0.5)">
              <div>
                <ul>
                  <li>
                    <p>Ime: {{ klub.ime_gradevine }}</p>
                  </li>

                  <li>
                    <p>Arhitekt: {{ klub.arhitekt }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Datum izgradnje: {{ klub.godina_izgradnje }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Adresa: {{ klub.adresa }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p>Stranica: {{ klub.sluzbena_stranica }}</p>
                    <p></p>
                  </li>

                  <li>
                    <p style="font-size: 16px;" >Opis: {{ klub.opis_duzi }}</p>
                    <p></p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col" style="background-color: rgba(1, 1, 1, 0.5)">
              <nz-spin
                nzTip="Loading..."
                [nzSize]="'large'"
                [nzSpinning]="this.DvorciCijenaUcitavanje"
              >
                <P>CIJENIK</P>
                <nz-table
                  #basicTable
                  [nzData]="this.DvorciCijenaGradLista"
                  style="width: 80%; margin-top: 5%; margin-left: 5%"
                >
                  <thead>
                    <tr>
                      <th>dvorci</th>
                      <th>karta</th>
                      <th>opis</th>
                      <th>trajanje_karte</th>
                      <th>cijena</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dvorci of this.DvorciCijenaGradLista">
                      <td>
                        {{ this.getNaziv(dvorci.id_dvorci, 3) }}
                      </td>
                      <td>{{ dvorci.karta }}</td>
                      <td>{{ dvorci.opis }}</td>
                      <td>{{ dvorci.trajanje_karte }}</td>
                      <td>{{ dvorci.cijena }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-spin>
            </div>
          </div>

          <a href="navigation#7">NAZAD</a>
        </div>
      </div>

      <div id="6" class="divPage">
        <!--O NAMA-->
        <h1>O nama</h1>
      </div>
    </div>
  </div>
</nz-layout>
