
// kontenjer

.container {
	
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	top: 5%;
	left: 5%;
	margin-bottom: 12%;
	
	width: 90%;
	max-width: 90%;
	min-height: 550px;
}

//-----------------------------------------------------------------------------------

// Opcenito 



button {
	border-radius: 20px;
	border: 1px solid rgb(246, 220, 49);
	background-color: rgb(246, 220, 49);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}


input   {
	background-color: #eee;
	width: 200px;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
}



p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
	color: black;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

