<nz-spin
  nzTip="Loading..."
  [nzSize]="'large'"
  [nzSpinning]="this.PoznateZnamenitostiCijenaUcitavanje"
>
  <nz-result
    *ngIf="this.Uspjesno === true"
    nzStatus="success"
    nzTitle="Uspjesno je spremljen podatak!"
    nzSubTitle="Ako zelite upisati još koji podatak stisnite lijevi gumb , za nazad stisnite desni"
  >
    <div nz-result-extra>
      <button nz-button (click)="this.Forma()">Forma</button>
      <button nz-button (click)="this.Nazad()">Nazad</button>
    </div>
  </nz-result>

  <div class="container">
    <form
      nz-form
      [formGroup]="this.validateForm"
      *ngIf="this.Uspjesno === false"
    >
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="naziv_grada"
          >Poznata znamenitost</nz-form-label
        >
        <nz-select formControlName="id_poznate_znamenitosti">
          <nz-option
            *ngFor="let znamenitost of this.PoznataZnamenitostLista"
            [nzValue]="znamenitost.id"
            [nzLabel]="znamenitost.ime_gradevine"
          >
          </nz-option>
        </nz-select>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="karta"
          >karta</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <input nz-input formControlName="karta" id="karta" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="opis">opis</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <input nz-input formControlName="opis" id="opis" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="trajanje_karte"
          >trajanje_karte</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <nz-input-number
            [(ngModel)]="ValueVrijemTrajanja"
            [nzMin]="0"
            [nzMax]="1000"
            [nzStep]="1"
            [nzFormatter]="formatterMIN"
            [nzParser]="parserMIN"
            formControlName="trajanje_karte"
            id="trajanje_karte"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cijena"
          >cijena</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <nz-input-number
            [(ngModel)]="ValueCijena"
            [nzMin]="0"
            [nzMax]="1000"
            [nzStep]="0.1"
            [nzFormatter]="formatterCijena"
            [nzParser]="parserCijena"
            formControlName="cijena"
            id="cijena"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </form>

    <button
      (click)="this.Nazad()"
      nz-button
      class="login-form-button login-form-margin"
      style="background-color: blue"
    >
      Nazad
    </button>
    <button
      *ngIf="this.isNovaPoznataZnamenitostCijena() === false"
      (click)="this.KreirajPotnateZnamenitostiCijena()"
      nz-button
      class="login-form-button login-form-margin"
    >
      Spremi
    </button>
    <button
      *ngIf="this.isNovaPoznataZnamenitostCijena() === true"
      (click)="this.AzurirajPotnateZnamenitostiCijena()"
      nz-button
      class="login-form-button login-form-margin"
      style="background-color: blueviolet"
    >
      Azuriraj
    </button>
  </div>
</nz-spin>
