<nz-spin
  nzTip="Loading..."
  [nzSize]="'large'"
  [nzSpinning]="this.GradsUcitavanje"
>
  <nz-result
    *ngIf="this.Uspjesno === true"
    nzStatus="success"
    nzTitle="Uspjesno je spremljeno !"
    nzSubTitle="Ako zelite upisati još koji podatak stisnite lijevi gumb , za nazad stisnite desni"
  >
    <div nz-result-extra>
      <button nz-button (click)="this.Forma()">Forma</button>
      <button nz-button (click)="this.Nazad()">Nazad</button>
    </div>
  </nz-result>

  <div class="container" *ngIf="this.Uspjesno === false">
    <form nz-form [formGroup]="this.validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id_drzave"
          >id_drzave</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <input nz-input formControlName="id_drzave" id="id_drzave" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="naziv_grada"
          >naziv_grada</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <input nz-input formControlName="naziv_grada" id="naziv_grada" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gradonacelnik"
          >gradonacelnik</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <input nz-input formControlName="gradonacelnik" id="gradonacelnik" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nadmorska_visina"
          >nadmorska_visina</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <nz-input-number
            [(ngModel)]="ValueNadmorska_visina"
            [nzMin]="0"
            [nzMax]="10000"
            [nzStep]="0.1"
            [nzFormatter]="formatterM"
            [nzParser]="parserM"
            formControlName="nadmorska_visina"
            id="nadmorska_visina"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="povrsina"
          >povrsina</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <nz-input-number
            [(ngModel)]="ValuePovrsina"
            [nzMin]="0"
            [nzMax]="10000"
            [nzStep]="0.1"
            [nzFormatter]="formatterKM"
            [nzParser]="parserKM"
            formControlName="povrsina"
            id="povrsina"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="stanovnistvo"
          >stanovnistvo</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <nz-input-number
            [(ngModel)]="ValueStanovnistvo"
            [nzMin]="0"
            [nzMax]="10000"
            [nzStep]="1"
            formControlName="stanovnistvo"
            id="stanovnistvo"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="postanski_broj"
          >postanski_broj</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <nz-input-number
            [(ngModel)]="ValuePostanski_broj"
            [nzMin]="0"
            [nzMax]="10000"
            [nzStep]="1"
            formControlName="postanski_broj"
            id="postanski_broj"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="pozivni_broj"
          >pozivni_broj</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <nz-input-number
            [(ngModel)]="ValuePozivnoBr"
            [nzMin]="0"
            [nzMax]="10000"
            [nzStep]="1"
            [nzFormatter]="formatterPlus"
            [nzParser]="parserPlus"
            formControlName="pozivni_broj"
            id="pozivni_broj"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="slika"
          >slika</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <input nz-input formControlName="slika" id="slika" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sluzbena_stranica"
          >sluzbena_stranica</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <input
            nz-input
            formControlName="sluzbena_stranica"
            id="sluzbena_stranica"
          />
        </nz-form-control>
      </nz-form-item>

      <button
        (click)="this.Nazad()"
        nz-button
        class="login-form-button login-form-margin"
        style="background-color: blue"
      >
        Nazad
      </button>
      <button
        *ngIf="this.isNoviGrad() === false"
        (click)="this.KreirajGrad()"
        nz-button
        class="login-form-button login-form-margin"
      >
        Spremi
      </button>
      <button
        *ngIf="this.isNoviGrad() === true"
        (click)="this.AzurirajGrad()"
        nz-button
        class="login-form-button login-form-margin"
        style="background-color: blueviolet"
      >
        Azuriraj
      </button>
    </form>
  </div>
</nz-spin>
