
<div class="container" >
    <form nz-form [formGroup]="this.validateForm" >
  
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id_kazalista">id_kazalista</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <input nz-input formControlName="id_kazalista" id="id_kazalista" />
        </nz-form-control>
      </nz-form-item>  
        
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="karta">karta</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <input nz-input formControlName="karta" id="karta" />
        </nz-form-control>
      </nz-form-item>    
  
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="opis">opis</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <input nz-input formControlName="opis" id="opis" />
        </nz-form-control>
      </nz-form-item>    
  
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="trajanje_karte">trajanje_karte</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <nz-input-number
            [(ngModel)]="ValueVrijemTrajanja"
            [nzMin]="0"
            [nzMax]="1000"
            [nzStep]="1"
            [nzFormatter]="formatterMIN"
            [nzParser]="parserMIN"
            formControlName="trajanje_karte"
            id="trajanje_karte"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>    
  
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cijena">cijena</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
          <nz-input-number
          [(ngModel)]="ValueCijena"
          [nzMin]="0"
          [nzMax]="1000"
          [nzStep]="0.1"
          [nzFormatter]="formatterCijena"
          [nzParser]="parserCijena"
          formControlName="cijena"
          id="cijena"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>    
  
    </form>
  
    <button (click)="this.Nazad()" nz-button class="login-form-button login-form-margin" style="background-color: blue;">Nazad</button>
    <button (click)="this.KreirajKazalisteCijena()"nz-button class="login-form-button login-form-margin">Spremi</button>
    <button (click)="this.NadiKazalisteCijena()" nz-button class="login-form-button login-form-margin" style="background-color: orange;">Nadi</button>
    <button (click)="this.AzurirajKazalisteCijena()" nz-button class="login-form-button login-form-margin" style="background-color: blueviolet;">Azuriraj</button>
    
  </div>