
<div class="container" >
    <form nz-form [formGroup]="this.validateForm" >
        
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id_grada">id_grada</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
              <input nz-input formControlName="id_grada" id="id_grada" />
            </nz-form-control>
        </nz-form-item>    
    
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ime_gradevine">ime_gradevine</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
              <input nz-input formControlName="ime_gradevine" id="ime_gradevine" />
            </nz-form-control>
        </nz-form-item>
    
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="arhitekt">arhitekt</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
            <input nz-input formControlName="arhitekt" id="arhitekt" />
          </nz-form-control>
        </nz-form-item>
    
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="godina_izgradnje">godina_izgradnje</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
            <nz-date-picker nz-input formControlName="godina_izgradnje" id="godina_izgradnje"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
    
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="opis_kraci">opis_kraci</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
            <input nz-input formControlName="opis_kraci" id="opis_kraci" />
          </nz-form-control>
        </nz-form-item>
    
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="opis_duzi">opis_duzi</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
            <input nz-input formControlName="opis_duzi" id="opis_duzi" />
          </nz-form-control>
        </nz-form-item>
    
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="adresa">adresa</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
            <input nz-input formControlName="adresa" id="adresa" />
          </nz-form-control>
        </nz-form-item>
    
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sluzbena_stranica">sluzbena_stranica</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
            <input nz-input formControlName="sluzbena_stranica" id="sluzbena_stranica" />
          </nz-form-control>
        </nz-form-item>
    
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="slika">slika</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obavezan unos">
            <input nz-input formControlName="slika" id="slika" />
          </nz-form-control>
        </nz-form-item>
        
    </form>
    
    <button (click)="this.Nazad()" nz-button class="login-form-button login-form-margin" style="background-color: blue;">Nazad</button>
    <button (click)="this.KreirajMuzej()"nz-button class="login-form-button login-form-margin">Spremi</button>
    <button (click)="this.NadiMuzej()" nz-button class="login-form-button login-form-margin" style="background-color: orange;">Nadi</button>
    <button (click)="this.AzurirajMuzej()" nz-button class="login-form-button login-form-margin" style="background-color: blueviolet;">Azuriraj</button>
    
    
    </div>